.additional_menu {
    margin-top: 35px;
    padding: 28px 21px;
    width: 257px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.additional_menu_items {
    margin-top: 28px;
}
.additional_menu_category {
    margin-top: 42px;
}
.additional_menu-item {
    margin-top: 14px;
}